@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding: 5px;
}

.grid-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

table th,
table td {
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 1px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: 1px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 1px;
  padding: '1px';
  text-align: 'center';
  font-size: 1rem;
}

.filter-section {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.loader, .not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-overflow {
  height: 50px;
  width: 12rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.flex__space_btn {
  display: flex;
  justify-content: space-between;
}